name: GitHub Release

on:
  release:
    types: [ published ]
  workflow_dispatch:

jobs:
  release:
    name: Release native binaries
    permissions:
      contents: write
    strategy:
      matrix:
        kind: [ 'linux-x64', 'linux-arm64', 'macos', 'windows' ]
        include:
          - kind: linux-x64
            os: ubuntu-latest
            target: linux-x64
          - kind: linux-arm64
            os: ubuntu-24.04-arm
            target: linux-arm64
          - kind: macos
            os: macos-latest
            target: osx
          - kind: windows
            os: windows-latest
            target: win
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x

      - name: Build
        shell: bash
        run: |
          tag=$(git describe --tags --abbrev=0)
          date=$(date -u +"%Y-%m-%d")
          ASSEMBLY_VERSION="${tag//v}"
          jq --arg version "$ASSEMBLY_VERSION" --arg date "$date" \
            '.version = $version | .release_date = $date' \
            src/UnfoldedCircle.OppoBluRay/driver.json > tmp.json && mv tmp.json src/UnfoldedCircle.OppoBluRay/driver.json
          
          # Build everything
          if [ "${{ matrix.kind }}" == "linux-x64" ] || [ "${{ matrix.kind }}" == "linux-arm64" ]; then
            release_name="unfolded-circle-oppo-$tag-${{ matrix.target }}"
            
            dotnet publish ./src/UnfoldedCircle.OppoBluRay/UnfoldedCircle.OppoBluRay.csproj -r ${{ matrix.target }} -c Release -o ./publish -p:Version="$ASSEMBLY_VERSION" -p:PublishAot=true
            tar -czvf "${release_name}.tar.gz" -C ./publish .
            
            if [ "${{ matrix.target }}" == "linux-arm64" ]; then
              mkdir driverdir && mkdir driverdir/bin && mkdir driverdir/config && mkdir driverdir/data
              cp publish/driver.json driverdir/driver.json
              cp ./oppo.png ./driverdir/oppo.png
              cp publish/appsettings*.json driverdir/bin/
              
              cp publish/driver driverdir/bin/
              
              tar -czvf unfolded-circle-oppo-$tag-remote.tar.gz -C ./driverdir .
              
              # Delete output directory
              rm -r "./driverdir"
            fi
            # Delete output directory
            rm -r "./publish"
          else
            for target_arch in "x64" "arm64"; do
              target="${{ matrix.target }}-$target_arch"
              release_name="unfolded-circle-oppo-$tag-$target"
              if [ "$target_arch" == "arm64" ]; then
                dotnet publish ./src/UnfoldedCircle.OppoBluRay/UnfoldedCircle.OppoBluRay.csproj -r $target -c Release -o ./publish -p:Version="$ASSEMBLY_VERSION"
              else
                dotnet publish ./src/UnfoldedCircle.OppoBluRay/UnfoldedCircle.OppoBluRay.csproj -r $target -c Release -o ./publish -p:Version="$ASSEMBLY_VERSION" -p:PublishAot=true
              fi
              
              if [ "${{ matrix.kind }}" == "windows" ]; then
                # Pack to zip for Windows
                7z a -tzip "${release_name}.zip" "./publish/*"
              else
                # Pack tar.gz for non-Windows
                tar -czvf "${release_name}.tar.gz" -C ./publish .
              fi
              
              # Delete output directory
              rm -r "./publish"
            done
          fi
      - name: Publish
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe
        with:
          files: |
            unfolded-circle-oppo*.zip
            unfolded-circle-oppo*.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}